@import './../styles/components/responsive';

.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  box-shadow: 0px 4px 20.2px -2px rgba(0, 0, 0, 0.05);
  z-index: 1;

  &__container {
    padding: 24px 16px;

    span {
      font-size: 1.25rem;
      font-weight: 500;
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include small-down() {
    padding: 0.1rem 1rem;
  }

  button {
    border: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 1rem;
    color: var(--black);
    width: 95px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: #161616;
    color: var(--white);
    filter: brightness(1.2);
    border-radius: 999px;
    cursor: pointer;
    font-size: 1rem;

    @include small-down() {
    }

    &:hover {
      filter: brightness(1.4);
    }
  }

  .connect-button,
  .network {
    transition: background-color 250ms ease 0s, filter 250ms ease 0s;
  }

  .left-side {
    column-gap: 2.5rem;
  }

  ul.mini-nav {
    background-color: #f4f4f4;
    column-gap: 1rem;
    @include medium-up() {
      display: none;
    }
  }
}

.network {
  position: relative;
  cursor: pointer;

  @include small-down() {
    //display: none;
  }

  &:hover {
    .network__sub {
      display: block !important;
    }
  }

  img {
    background: #feebf1;
    width: 36px;
    height: 36px;
    padding: 0.4rem;
    border-radius: 999px;
  }
}

.network-list {
  position: absolute;
  right: 0;
  top: calc(100% + 0.1rem);
  width: 170px;
  padding: 12px;
  background-color: var(--white);
  border-radius: var(--global-border-radius);
  z-index: 999;

  ul {
    li {
      padding: 0.5rem 0.2rem;
      border-radius: calc(var(--global-border-radius) - 12px);
      cursor: pointer;

      &:hover {
        background: #f7f8fa;
      }

      img {
        width: 24px;
        height: 24px;
      }

      figcaption {
        font-weight: 600;
      }
    }
  }
}

.main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  overflow-y: auto;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 1rem 0;
  color: #a6a6a6;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // background-color: #2e2e2e;
  ul {
    li {
      a {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        svg {
          width: 2.2rem;
        }
      }
    }
  }

  svg {
    fill: #a6a6a6;
  }
}
.active {
  svg {
    fill: var(--white) !important;
  }
  span {
    color: var(--white) !important;
  }
}
.header,
.main,
.footer {
}

.menu {
  column-gap: 0.1rem;

  li {
    a {
      line-height: 0;
      padding: 2px 8px;
      font-size: 0.9rem;
      color: #53565c;
      font-weight: 600;
      &:hover {
        color: var(--black);
      }

      b {
        color: var(--black);
      }
    }
  }

  @include small-down() {
    display: none;
  }
}
.nav {
  position: fixed;
  inset: 0;
  width: 80vw;
  max-width: 400px;
  background-color: #fff;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  isolation: isolate;
  transform: translateX(100vw);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  figure {
    img {
      width: 80px;
      margin: 0 auto;
    }
  }

  ul {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;

    li {
      &:first-child {
      }

      button {
        all: unset;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 0.5rem;
        cursor: pointer;

        span {
          &:first-child {
            font-size: 2rem;
          }

          &:last-child {
            font-size: 1.1rem;
            font-weight: 300;
          }
        }
      }
    }
  }

  small {
    text-align: center;
    opacity: 0.8;
  }
}

.profile {
  --tile-shadow-hover: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
  height: 37px;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 999px;
  column-gap: 0.5rem;
  cursor: pointer;

  &__wallet {
    column-gap: 0.5rem;
    font-size: 1rem;
    @include small-down() {
      b {
        display: none;
      }
    }
  }

  &:hover {
    background-color: #f9f9f9;
    ul {
      visibility: visible;
    }
  }

  img {
    width: 28px;
    height: 28px;
    border-radius: 999px;
    background-color: var(--white);
  }

  ul {
    visibility: hidden;
    background-color: var(--white);
    position: absolute;
    top: 85%;
    min-width: 200px;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    &:hover {
      visibility: visible;
    }

    li {
      &:hover {
        &:not(&:first-child) {
          background-color: var(--black-025);
          cursor: pointer;
        }
      }

      &:first-child {
        column-gap: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      }

      &:last-child {
        color: var(--red);
      }
    }

    figure {
      width: 60px;
      height: 60px;

      img {
        border-radius: 999px;
      }
    }
  }
}
