@font-face {
  font-family: "GeistVF";
  src: url('./../assets/fonts/GeistVF.ttf') format('opentype');
}

@font-face {
  font-family: "ARCADECLASSIC";
  src: url('./../assets/fonts/ARCADECLASSIC.ttf') format('opentype');
}

@font-face {
  font-family: "basis33";
  src: url('./../assets/fonts/basis33.ttf') format('opentype');
}